services:
  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy

  webapp:
    build:
      context: ./webapp
    ports:
      - "5173:5173"
    volumes:
      - ./webapp:/app
      - /app/node_modules
    depends_on:
      - backend

  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: nutrium
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: nutrium
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U nutrium"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
